.metadata
.settings
.classpath
.project
.idea


/neocat-catalina/lib
/neocat-catalina/logs
/neocat-catalina/target
/neocat-catalina/temp
/neocat-catalina/webapps
/neocat-catalina/work
/neocat-coyote/target
/neocat-el/target
/neocat-jasper/target
/neocat-javax/target
/neocat-juli/target
/neocat-naming/target
/neocat-parent/target
/neocat-tomcat/target


*.iml